
  /* Style the header */
  .header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 30px;
    text-align: center;
  }
  
  
  /* Style the footer */
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
  }
